{% extends 'base.html' %}
{% block title %}Головна сторінка{% endblock %}
{% block content %}

    <h2>Останні новини</h2>
    <ul>
        {% for news_item in all_news %}
            <li>
                Користувач: <a href="{% url 'user_profile' news_item.author.id %}"> {{ news_item.author.username }}</a>
                | Заголовок: {{ news_item.title }} |
                Дата: {{ news_item.created_at }}
            </li>
            <p>{{ news_item.content }}</p>
            {% if news_item.image %}
                <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}">
            {% endif %}

            <!-- Форма для поставлення лайка -->
            <form method="post" action="{% url 'add_like' news_item.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Лайк</button>
            </form>

            <!-- Форма для додавання коментарію -->
            <form method="post" action="{% url 'add_comment' news_item.id %}">
                {% csrf_token %}
                <textarea name="text"></textarea>
                <button type="submit" class="btn btn-primary">Додати коментар</button>
            </form>

            <!-- Відображення лайків та коментаріїв -->
            <p>Лайки: {{ news_item.like_set.count }}</p>
            <ul>
                {% for comment in news_item.comment_set.all|slice:":5" %}
                    <li>
                        Користувач: {{ comment.user.username }}<br>
                        Текст коментаря: {{ comment.text }}<br>
                        Дата: {{ comment.created_at }}
                    </li>
                {% empty %}
                    <li>Ще немає коментарів.</li>
                {% endfor %}
            </ul>
        {% endfor %}

    </ul>
{% endblock %}
