{% extends 'base.html' %}
{% block title %}Авторизація{% endblock %}
{% block content %}
<div class="center-content">
    <h1>{{title}}</h1>

    <form method="post" class="my-form">
        {% csrf_token %}
        <div class="form-error">{{ form.non_field_errors }}</div>
        {% for f in form %}
            <p><label class="form-label" for="{{ f.id_for_label }}">{{f.label}}: </label>{{ f }}</p>
            <div class="form-error">{{ f.errors }}</div>
        {% endfor %}
        <button type="submit">Війти</button>
    <p>Ще немає акаунту? <a href="{% url 'register' %}">Зареєструйте</a></p>
    </form>
</div>
{% endblock %}
