{% extends 'base.html' %}

{% block title %}Профіль{% endblock %}


{% block content %}

    <h1>Welcome, {{ request.user }}</h1>
    <a href="{% url 'add_news' %}" class="btn btn-primary">Додати новину</a>
    <a href="{% url 'edit_user_profile' %}" class="btn btn-primary">Редагувати профіль</a>
    <p>Статус: {% if userprofile.status %}{{ userprofile.status }}{% endif %}</p>
    <p>Дата народження: {% if userprofile.birth_date %}{{ userprofile.birth_date }}{% endif %}</p>
    <p>Місце роботи: {% if userprofile.workplace %}{{ userprofile.workplace }}{% endif %}</p>
    <p>Інше: {% if userprofile.wishes %}{{ userprofile.wishes }}{% endif %}</p>
    <p>Ваш id: {{ request.user.id }} - його можна використовувати для пошуку вашого профілю</p>


    <h2>Мої новини</h2>
    <ul>
    {% for news_item in user_news %}
        <li>{{ news_item.title }}</li>
        <p>{{ news_item.content }}</p>
        <p>{{ news_item.created_at }}</p>
        {% if news_item.image %}
            <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}">
        {% endif %}
        <a href="{% url 'edit_news' news_item.id %}" class="btn btn-secondary">Редагувати</a>
                <form method="post" action="{% url 'delete_news' news_item.id %}">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-danger">Видалити</button>
                </form>
        <!-- Додайте інші дані новини, які вам потрібні -->

        <!-- Форма для поставлення лайка -->
        <form method="post" action="{% url 'add_like' news_item.id %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-primary">Лайк</button>
        </form>

        <!-- Форма для додавання коментарію -->
        <form method="post" action="{% url 'add_comment' news_item.id %}">
            {% csrf_token %}
            <textarea name="text"></textarea>
            <button type="submit" class="btn btn-primary">Додати коментар</button>
        </form>

        <!-- Відображення лайків та коментаріїв -->
        <p>Лайки: {{ news_item.like_set.count }}</p>
        <ul>
            {% for comment in news_item.comment_set.all|slice:":5" %}
                <li>
                    Користувач: {{ comment.user.username }}<br>
                    Текст коментаря: {{ comment.text }}<br>
                    Дата: {{ comment.created_at }}
                </li>
            {% empty %}
                <li>Ще немає коментарів.</li>
            {% endfor %}
        </ul>
    {% endfor %}
    </ul>
{% endblock %}
