{% extends 'base.html' %}

{% block content %}
    <h1>Профіль користувача: {{ user.username }}</h1>

    <p>Статус: {% if userprofile.status %}{{ userprofile.status }}{% endif %}</p>
    <p>Дата народження: {% if userprofile.birth_date %}{{ userprofile.birth_date }}{% endif %}</p>
    <p>Місце роботи: {% if userprofile.workplace %}{{ userprofile.workplace }}{% endif %}</p>
    <p>Інше: {% if userprofile.wishes %}{{ userprofile.wishes }}{% endif %}</p>
    <p>id користувача: {{ user.id }} - його можна використовувати для пошуку профілю користувача</p>

    <!-- Додайте відображення новин користувача -->
    <h2>Новини користувача</h2>
    <ul>
        {% for news_item in user.news_set.all %}
            <li>
                Користувач: {{ user.username }} |
                Заголовок: {{ news_item.title }} |
                Дата: {{ news_item.created_at }}
            </li>
            <p>{{ news_item.content }}</p>
            {% if news_item.image %}
                <img src="{{ news_item.image.url }}" alt="{{ news_item.title }}">
            {% endif %}
            <!-- Форма для поставлення лайка -->
            <form method="post" action="{% url 'add_like' news_item.id %}">
                {% csrf_token %}
                <button type="submit" class="btn btn-primary">Лайк</button>
            </form>

            <!-- Форма для додавання коментарію -->
            <form method="post" action="{% url 'add_comment' news_item.id %}">
                {% csrf_token %}
                <textarea name="text"></textarea>
                <button type="submit" class="btn btn-primary">Додати коментар</button>
            </form>

            <!-- Відображення лайків та коментаріїв -->
            <p>Лайки: {{ news_item.like_set.count }}</p>
            <ul>
                {% for comment in news_item.comment_set.all %}
                    <li>
                        Користувач: {{ comment.user.username }}<br>
                        Текст коментаря: {{ comment.text }}<br>
                        Дата: {{ comment.created_at }}
                    </li>
                {% empty %}
                    <li>Ще немає коментарів.</li>
                {% endfor %}
            </ul>
        {% endfor %}
    </ul>
</div>
{% endblock %}
