{% extends 'base.html' %}

{% block title %}Сповіщення{% endblock %}
{% block content %}
    <h1>Сповіщення</h1>

    <ul>
        {% for notification in notifications %}
            <li>
                {% if notification.target %}
                    <a href="{{ notification.target.get_absolute_url }}">{{ notification.actor.username }}</a>
                {% else %}
                    {{ notification.actor.username }}
                {% endif %}
                {{ notification.message }} - {{ notification.timestamp }}
            </li>
        {% endfor %}
    </ul>
{% endblock %}
